.bingo-container {
  &-board {
    display: flex;
    justify-content: space-around;
  }
}

.startBtn {
  border: 0;
  color: #fff;
  font-size: 1.5rem;
  background-color: #f6d55c;
  outline: none;
  cursor: pointer;
  padding: 10px 30px;
}
