.bingo-board-item {
  text-align: center;
  line-height: 70px;
  width: 70px;
  height: 70px;
  border: 1px solid #000;
  font-weight: bold;
  cursor: pointer;
}

.check {
  background: #f6d55c;
  color: #fff;
  cursor: default;
}
